
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html{
    height: 100%;
}

body{
    overflow: scroll;
    height: 100%;
    background-color: white;
    margin-top:0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer{
    margin-bottom: 4rem;
background-color: #2954A4;
}